# URL da API Java (Quarkus)
# - Local: http://localhost:8080/api
# - Com ngrok: https://SEU-ID.ngrok-free.app/api
VITE_API_URL=http://localhost:8080/api

# URL da API Python/IA no Render
VITE_IA_URL=https://turma-do-bem-ia.onrender.com
